<!-- <div class="home-container">
  <h1>Welcome to BitsVote</h1>
  <p>Your secure e-voting platform for BITS Pilani</p>
  <div class="login-buttons">
    <button (click)="onStudentLogin()" class="login-button">Student Login</button>
    <button (click)="onAdminLogin()" class="login-button">Admin Login</button>
  </div>
</div> -->

<div class="container-fluid" id="image">
  <div class="container text-center">
      <h1 class="title" id="heading">Welcome to BitsVote</h1>
      <p class="subtitle">"Your secure e-voting platform for BITS Pilani"</p>
  </div>
  </div>